<br>
<div class="table-responsive">
  <br>
  <div class="container" style=" width: 96%;height: 130px;" >
      <div class="col-md-2">
       <img src="assets/logo.png" style="height:150px; width: 150px;">
      </div>
      <div class="col-md-9" style="font-family: 'Times New Roman', Times, serif;font-size: large;">
      <h1>Government Of India</h1>
      <h2>Anti-Trafficking Portal</h2>
     </div>
     </div>
     <br>
  <nav class="navbar navbar-inverse" style="left: 2%; width: 96%;">
          <div class="container-fluid">
             <div class="navbar-header">
               <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>                        
              </button> 
            </div> 
            <div class="collapse navbar-collapse" id="myNavbar">
              <ul class="nav navbar-nav">
                <li class="active"><a routerLink="/admin">Home</a></li>
                <li><a routerLink="/users">Users</a></li>
                <li><a routerLink="/adduser">Add user</a></li>
                <li><a routerLink="/adsearch">Search</a></li>
                <li><a routerLink="/admininbox">Inbox</a></li>
                <li><a routerLink="/adusersearch">Search User</a></li>
                <li><a routerLink="/request">Verify User</a></li>
                <li><input type="button" class="btn btn-danger" value="logout" (click)="logout()" style="height:50px;left: 1250px;" ></li>
              </ul>
            </div>
  
          </div>
        </nav>
<h1>Search User</h1>
<div class="form-group">
    <input type="text" class="form-control" placeholder="Search User By Name" [(ngModel)]="uname">
  </div>
  <button type="button" (click)="OnSearch()" class="btn btn-default">Search By Name</button><br><br>
<h2>Search Results</h2><br><br>
<div>
  <table class="table">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Height</th>
      <th scope="col">Age</th>
    </tr>
    <tr *ngFor="let user of userlist">
        <td>{{user.id}}</td>
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
        <td>{{user.role}}</td>
    </tr>
</table>
</div><br>
<div>
  <button (click)="OnHome()" class="btn btn-success">Back to Home</button>
</div>
