<h3>Registered Cases</h3>
<br>
<div class="table-responsive">
    <table class="table">
      <tr>
          <th scope="col">Id</th>
          <th scope="col">Name</th>
          <th scope="col">Height</th>
          <th scope="col">Age</th>
          <th scope="col">Image</th> 
      </tr>
      <tr *ngFor="let user of userlist">
        <td>{{user.vId}}</td>
        <td>{{user.name}}</td>
        <td>{{user.height}}</td>
        <td>{{user.age}}</td>
        <td>{{user.img}}</td>
          </tr>
    </table>
  </div><br>
  <div>
    <button (click)="OnHome()" class="btn btn-success">Back to Home</button>
  </div>